# Set location: PEP-CCMP/.env
# PROJECT SETTINGS
PROJECT_NAME=<PROJECT_NAME>

# --- DRUPAL ----
PROJECT_BASE_URL=drupal.docker.localhost
PROJECT_PORT=8000
PHP_TAG=8.1
# Note that the Composer tool uses PHP 8.1
# Update the Dockerfile in the Composer folder
# for a different version of PHP

# --- MARIADB ----
MARIADB_TAG=10.11
DB_ROOT_PASSWORD=<DB_ROOT_PASSWORD>
DB_NAME=<DB_NAME>
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>

# --- NGINX ----
NGINX_TAG=1.27
NGINX_VHOST_PRESET=drupal9
