@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.zoom {
    transition: transform .5s;
}
  
.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.num {
    font-family: 'Gotham-Light', sans-serif;
    font-size: 48px;
    /* line-height: 52px; */
    /* min-height: 81px; */
    /* padding: 10px 15px; */
}

.indent {
    padding-left: 20px;
}

br {
    margin: 0px;
}
