/* [bg] background color */
.bg-strongpartnerships {    /* strong-partnerships */
    background-color: #ed7a23;
}

.bg-resilientcommunities {  /* resilient-communities */
    background-color: #1f9f8a;
}

.bg-cleanwaters {           /* clean-waters */
    background-color: #2e77b0;
}

.bg-healthyecosystem {      /* healthy-ecosystem */
    background-color: #7dbf72;
}